.contact-form {
  background: #f1f1f1;
  border: 5px solid #f1f1f1;
  border-radius: 10px;
  position: absolute;
  top: 25%;
  left: 40%;
  transition: transform 2s;
  transition: opacity 2s;
  transform: scale(200%);
  opacity: 0;
  label {
    display: block;
    font-family: "Inter", sans-serif;
    color: black;
    text-decoration: none;
    font-size: 20px;
  }
  &:hover {
    opacity: 100%;
    transform: scale(1);
  }
}

.contact-us {
  width: 100%;
  height: 760px;
}

h1 {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: black;
  text-decoration: none;
  font-size: 40px;
}

input {
  padding: 10px;
  padding-right: 150px;
  margin: 10px 0;
  border-radius: 10px;
}

.submit {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: white;
  background: green;
  text-decoration: none;
  font-size: 20px;
  padding-left: 125px;
}

.submit-container {
  display: flex;
  justify-content: center;
}


