.main-gallery {
  max-height: 4500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
  img {
    height: 50%;
    width: 50%;
    margin: 0 5px 5px 0;
  }
}

.animation {
  transition: transform 200ms;
  transform: scale(1.5);
  box-shadow: 5px 5px 5px black;
}
