main {
  width: 100%;
  .plumber-container {
    width: 100%;
    height: 763px;
    position: relative;
    .help-button-2 {
      position: absolute;
      left: 871px;
      top: 659px;
      width: 160px;
      height: 54px;
      border-radius: 10px;
      border: 2px solid #fff;
      background: #50b2ea;
      z-index: 11;
      color: #fff;
      font-family: Poppins-700;
      text-align: center;
      font-size: 14px;
      font-style: normal;
      font-weight: 700;
      line-height: 22px; /* 157.143% */
    }
    .help-button-2:hover {
      background-color: red;
    }
    .left {
      margin: 0;
      position: relative;
      width: 991px;
      height: 763px;
      background: #f2f2f2;
      .blue-container {
        width: 640px;
        height: 509px;
        background: #50b2ea;
        border-radius: 40px 0px 0px 40px;
        position: absolute;
        left: 352px;
        top: 100px;
        .blue-container-h1 {
          position: absolute;
          top: 66px;
          left: 45px;
          color: #fff;
          font-family: Poppins-700;
          font-size: 48px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
        .blue-container-p {
          width: 520px;
          color: #19435a;
          font-family: Poppins-400;
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px; /* 157.143% */
          position: absolute;
          left: 45px;
          top: 178px;
          bottom: 221px;
        }
        .list {
          position: absolute;
          left: 30px;
          top: 320px;
          list-style-image: url(../img/circle.png);
          li {
            color: #fff;
            font-family: Poppins-600;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: 22px; /* 157.143% */
            padding-top: 20px;
          }
        }
      }
    }

    .right {
      width: 912px;
      height: 763px;
      background: #50b2ea;
      position: absolute;
      left: 991px;
      top: 0;

      .blue-container-2 {
        position: absolute;
        top: 100px;
        width: 559px;
        height: 509px;

        background-image: url(../img/Rectangle-4.png);
      }
    }
  }
  .services-container {
    position: relative;
    width: 1903px;
    height: 674px;
    .high-container {
      position: absolute;
      width: 1903px;
      height: 390px;
      background-color: #50b2ea;
      .image-container {
        background-image: url(../img/cover-decor.png);
        width: 100%;
        height: 390px;
        opacity: 0.2;
      }
      .wrench-1 {
        position: absolute;
        left: 531px;
        top: 234px;
      }
      .wrench-2 {
        position: absolute;
        top: 234px;
        left: 793px;
      }
      .wrench-3 {
        position: absolute;
        top: 234px;
        left: 1055px;
      }
      .wrench-4 {
        position: absolute;
        top: 234px;
        left: 1317px;
      }
      .rectangle-1 {
        position: absolute;
        top: 172px;
        left: 469px;
      }
      .rectangle-2 {
        position: absolute;
        top: 172px;
        left: 731px;
      }
      .rectangle-3 {
        position: absolute;
        top: 172px;
        left: 993px;
      }
      .rectangle-4 {
        position: absolute;
        top: 172px;
        left: 1255px;
      }
    }

    .low-container {
      position: absolute;
      width: 1903px;
      height: 284px;
      background: #f2f2f2;
      bottom: 0;
      .h1-1 {
        position: absolute;
        top: 28px;
        left: 500px;
        color: #50b2ea;
        font-family: Poppins-700;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 122.222% */
      }
      .h1-2 {
        position: absolute;
        top: 28px;
        left: 760px;
        color: #50b2ea;
        font-family: Poppins-700;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 122.222% */
      }
      .h1-3 {
        position: absolute;
        top: 28px;
        left: 1022px;
        color: #50b2ea;
        font-family: Poppins-700;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 122.222% */
      }
      .h1-4 {
        position: absolute;
        top: 28px;
        left: 1284px;
        color: #50b2ea;
        font-family: Poppins-700;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 122.222% */
      }
      .p-1 {
        position: absolute;
        width: 180px;
        top: 64px;
        left: 469px;
        color: #19435a;
        text-align: center;
        font-family: Poppins-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }
      .p-2 {
        position: absolute;
        width: 180px;
        top: 64px;
        left: 730px;
        color: #19435a;
        text-align: center;
        font-family: Poppins-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }
      .p-3 {
        position: absolute;
        width: 180px;
        top: 64px;
        left: 991px;
        color: #19435a;
        text-align: center;
        font-family: Poppins-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }
      .p-4 {
        position: absolute;
        width: 180px;
        top: 64px;
        left: 1252px;
        color: #19435a;
        text-align: center;
        font-family: Poppins-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
      }
      .help-button-3 {
        position: absolute;
        left: 871px;
        top: 180px;
        width: 160px;
        height: 54px;
        border-radius: 10px;
        border: 2px solid #fff;
        background: #50b2ea;
        /* 1 */
        box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.2);
        color: #fff;
        text-align: center;
        font-family: Poppins-700;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 157.143% */
      }
      .help-button-3:hover {
        background-color: red;
      }
    }
  }
  .testymonials-container {
    position: relative;
    width: 1903px;
    height: 718px;
    background: #50b2ea;
    .testymonials-h1 {
      position: absolute;
      left: 783px;
      top: 25px;
      color: #fff;
      text-align: center;
      font-family: Poppins-700;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    .testymonial-1 {
      position: absolute;
      top: 172px;
      left: 352px;
      width: 577px;
      height: 233px;
      border-radius: 40px;
      background: #fff;
      box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.2);
      .name {
        position: absolute;
        top: 30px;
        left: 130px;
        color: #50b2ea;
        font-family: Poppins-700;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 122.222% */
      }
      .text {
        position: absolute;
        top: 65px;
        left: 124px;
        color: #19435a;
        font-family: Poppins-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        width: 423px;
      }
      .avatar {
        position: absolute;
        left: 30px;
        top: 30px;
      }
      .star-1 {
        position: absolute;
        bottom: 20px;
        left: 124px;
      }
      .star-2 {
        position: absolute;
        bottom: 20px;
        left: 148px;
      }
      .star-3 {
        position: absolute;
        bottom: 20px;
        left: 172px;
      }
      .star-4 {
        position: absolute;
        bottom: 20px;
        left: 196px;
      }
      .star-5 {
        position: absolute;
        bottom: 20px;
        left: 220px;
      }
    }
    .testymonial-2 {
      position: absolute;
      top: 172px;
      left: 975px;
      width: 577px;
      height: 233px;
      border-radius: 40px;
      background: #fff;
      box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.2);
      .name {
        position: absolute;
        top: 30px;
        left: 130px;
        color: #50b2ea;
        font-family: Poppins-700;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 122.222% */
      }
      .text {
        position: absolute;
        top: 65px;
        left: 124px;
        color: #19435a;
        font-family: Poppins-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        width: 423px;
      }
      .avatar {
        position: absolute;
        left: 30px;
        top: 30px;
      }
      .star-1 {
        position: absolute;
        bottom: 20px;
        left: 124px;
      }
      .star-2 {
        position: absolute;
        bottom: 20px;
        left: 148px;
      }
      .star-3 {
        position: absolute;
        bottom: 20px;
        left: 172px;
      }
      .star-4 {
        position: absolute;
        bottom: 20px;
        left: 196px;
      }
      .star-5 {
        position: absolute;
        bottom: 20px;
        left: 220px;
      }
    }
    .testymonial-3 {
      position: absolute;
      top: 435px;
      left: 352px;
      width: 577px;
      height: 233px;
      border-radius: 40px;
      background: #fff;
      box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.2);
      .name {
        position: absolute;
        top: 30px;
        left: 130px;
        color: #50b2ea;
        font-family: Poppins-700;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 122.222% */
      }
      .text {
        position: absolute;
        top: 65px;
        left: 124px;
        color: #19435a;
        font-family: Poppins-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        width: 423px;
      }
      .avatar {
        position: absolute;
        left: 30px;
        top: 30px;
      }
      .star-1 {
        position: absolute;
        bottom: 20px;
        left: 124px;
      }
      .star-2 {
        position: absolute;
        bottom: 20px;
        left: 148px;
      }
      .star-3 {
        position: absolute;
        bottom: 20px;
        left: 172px;
      }
      .star-4 {
        position: absolute;
        bottom: 20px;
        left: 196px;
      }
      .star-5 {
        position: absolute;
        bottom: 20px;
        left: 220px;
      }
    }

    .testymonial-4 {
      position: absolute;
      top: 435px;
      left: 975px;
      width: 577px;
      height: 233px;
      border-radius: 40px;
      background: #fff;
      box-shadow: 0px 20px 20px 0px rgba(129, 209, 255, 0.2);
      .name {
        position: absolute;
        top: 30px;
        left: 130px;
        color: #50b2ea;
        font-family: Poppins-700;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px; /* 122.222% */
      }
      .text {
        position: absolute;
        top: 65px;
        left: 124px;
        color: #19435a;
        font-family: Poppins-400;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
        width: 423px;
      }
      .avatar {
        position: absolute;
        left: 30px;
        top: 30px;
      }
      .star-1 {
        position: absolute;
        bottom: 20px;
        left: 124px;
      }
      .star-2 {
        position: absolute;
        bottom: 20px;
        left: 148px;
      }
      .star-3 {
        position: absolute;
        bottom: 20px;
        left: 172px;
      }
      .star-4 {
        position: absolute;
        bottom: 20px;
        left: 196px;
      }
      .star-5 {
        position: absolute;
        bottom: 20px;
        left: 220px;
      }
    }
  }
  .contact-us-container {
    position: relative;
    width: 1903px;
    height: 520px;
    background: #fff;

    .contact-us-h1 {
      width: 271px;
      height: 72px;
      position: absolute;
      top: 30px;
      left: 816px;
      color: #50b2ea;
      text-align: center;
      font-family: Poppins-700;
      font-size: 48px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }
    form {
      #first-input {
        width: 370px;
        height: 64px;
        position: absolute;
        top: 172px;
        left: 766px;
        border-radius: 40px;
        opacity: 0.5;
        background: #50b2ea;
        border: none;
        font-size: 25px;
      }
      #second-input {
        width: 370px;
        height: 64px;
        position: absolute;
        top: 250px;
        left: 766px;
        border-radius: 40px;
        opacity: 0.5;
        background: #50b2ea;
        border: none;
        font-size: 25px;
      }
      #third-input {
        width: 370px;
        height: 64px;
        position: absolute;
        top: 328px;
        left: 766px;
        border-radius: 40px;
        opacity: 0.5;
        background: #50b2ea;
        border: none;
        font-size: 25px;
      }
      .submit-button {
        position: absolute;
        top: 406px;
        bottom: 50px;
        left: 877px;
        width: 148px;
        height: 64px;
        border-radius: 40px;
        background: #50b2ea;
        border: none;
      }
    }
  }

  @media screen and (min-width:500px) and (max-width:1590px) {
    .plumber-container {
      .help-button-2 {
        left: 671px;
      }
      .left {
        .blue-container {
          left: 152px;
        }
      }
      .right {
        left: 791px;
      }
    }
  }

  @media screen and (min-width:500px) and (max-width:1239px) {
    .plumber-container {
      .help-button-2 {
        left: 500px;
      }
      .left {
      .blue-container {
        width: 480px;
        .blue-container-h1 {
          font-size: 38px;
        }
        .blue-container-p {
          width: 420px;
        }
      }
    }
      .right {
        left: 630px;
        .blue-container-2 {
          width: 480px;
          border-radius: 0px 40px 40px 0px;
        }
      }
    

  }
}

  @media screen and (min-width: 500px) and (max-width: 1590px) {
    .services-container {
      .high-container {
        .wrench-1 {
          left: 331px;
        }
        .wrench-2 {
          left: 593px;
        }
        .wrench-3 {
          left: 855px;
        }

        .wrench-4 {
          left: 1117px;
        }

        .rectangle-1 {
          left: 269px;
        }
        .rectangle-2 {
          left: 531px;
        }
        .rectangle-3 {
          left: 793px;
        }
        .rectangle-4 {
          left: 1055px;
        }
      }
      .low-container {
        .h1-1 {
          left: 300px;
        }
        .p-1 {
          left: 269px;
        }
        .h1-2 {
          left: 560px;
        }
        .p-2 {
          left: 530px;
        }
        .h1-3 {
          left: 822px;
        }
        .p-3 {
          left: 791px;
        }
        .h1-4 {
          left: 1084px;
        }
        .p-4 {
          left: 1052px;
        }

        .help-button-3 {
          left: 671px;
        }
      }
    }
  }

  @media screen and (min-width:500px) and (max-width:1239px) {
    .services-container {
      .high-container {
        .wrench-1 {
          left: 131px;
        }
        .wrench-2 {
          left: 393px;
        }
        .wrench-3 {
          left: 655px;
        }

        .wrench-4 {
          left: 917px;
        }

        .rectangle-1 {
          left: 69px;
        }
        .rectangle-2 {
          left: 331px;
        }
        .rectangle-3 {
          left: 593px;
        }
        .rectangle-4 {
          left: 855px;
        }
      }
    .low-container {
      .h1-1 {
        left: 100px;
      }
      .p-1 {
        left: 69px;
      }
      .h1-2 {
        left: 360px;
      }
      .p-2 {
        left: 330px;
      }
      .h1-3 {
        left: 622px;
      }
      .p-3 {
        left: 591px;
      }
      .h1-4 {
        left: 884px;
      }
      .p-4 {
        left: 852px;
      }

      .help-button-3 {
        left: 471px;
      }
    }
  }

  @media screen and (min-width: 500px) and (max-width: 1239px) {
    .testymonials-container {
      .testymonials-h1 {
        left: 383px;
      }
      .testymonial-1 {
        left: 100px;
        width: 432px;
        height: 233px;
        .name {
          left: 100px;
        }
        .text {
          width: 330px;
          left: 100px;
          font-size: 12px;
        }
      }
      .testymonial-2 {
        left: 575px;
        width: 432px;
        height: 233px;
        .name {
          left: 100px;
        }
        .text {
          width: 330px;
          left: 100px;
          font-size: 12px;
        }
      }
      .testymonial-3 {
        left: 100px;
        width: 432px;
        height: 233px;
        .name {
          left: 100px;
        }
        .text {
          width: 330px;
          left: 100px;
          font-size: 12px;
        }
      }
      .testymonial-4 {
        left: 575px;
        width: 432px;
        height: 233px;
        .name {
          left: 100px;
        }
        .text {
          width: 330px;
          left: 100px;
          font-size: 12px;
        }
      }
      .avatar {
        width: 60px;
        height: 60px;
      }
    }
  }
}

  @media screen and (min-width: 1240px) and (max-width: 1590px) {
    .testymonials-container {
      .testymonials-h1 {
        left: 583px;
      }
      .testymonial-1 {
        left: 300px;
        width: 432px;
        height: 233px;
        .name {
          left: 100px;
        }
        .text {
          width: 330px;
          left: 100px;
          font-size: 12px;
        }
      }
      .testymonial-2 {
        left: 775px;
        width: 432px;
        .name {
          left: 100px;
        }
        .text {
          width: 330px;
          left: 100px;
          font-size: 12px;
        }
      }
      .testymonial-3 {
        left: 300px;
        width: 432px;
        .name {
          left: 100px;
        }
        .text {
          width: 330px;
          left: 100px;
          font-size: 12px;
        }
      }
      .testymonial-4 {
        left: 775px;
        width: 432px;
        .name {
          left: 100px;
        }
        .text {
          width: 330px;
          left: 100px;
          font-size: 12px;
        }
      }
      .avatar {
        width: 60px;
        height: 60px;
      }
    }
  }

  @media screen and (min-width: 500px) and (max-width: 1920px) {
    .contact-us-container {
      width: 100%;
    }
  }

  @media screen and (min-width: 500px) and (max-width: 1590px) {
    .contact-us-container {
      .contact-us-h1 {
        left: 616px;
      }
      form {
        position: absolute;
        left: -200px;
      }
    }
  }

  @media screen and (min-width: 500px) and (max-width: 1239px) {
    .contact-us-container {
      .contact-us-h1 {
        left: 416px;
      }
      form {
        position: absolute;
        left: -400px;
      }
    }
  }

  @media screen and (min-width: 500px) and (max-width: 1590px) {
    .services-container {
      .high-container {
        width: 100%;
      }
    }
  }
}
